// TIPOGRAFÍA
$font: Arial, Helvetica, sans-serif;
$fontsize-btn: 14px;
$fontsize-phone: 13px;


//COLORES

$color-primary: #111725;
$color-input: #2c344b;
$color-btn: #cae6db;
$color-btn-over: #a3b4ad;
$color-white: white;

//DISPLAY

$display-flex: flex;
$display-inline: inline;
